@charset "UTF-8";
/* CSS Document */
/*
Colors used:
Primary Color (Green): #05676e;
Secondary Color (Green): #53C5B4;
*/
/* Layout styling */

.logo {
  position: absolute;
  max-width: 25px;
  margin: auto;
}
img{
    width: 100%;
}
body {
  background-color: #ffffff;
  font-family: 'rubik';
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
a {
  color: #53C5B4;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #53C5B4;
}
a:active { /* selected link */
  color: #994c30;
}

main {
  padding-top: 133px;
}
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
 
  box-shadow: 0 2px 5px 0 rgba(51,51,51,.1);
  position: relative;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
    width: 100%;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
#hero {
  background-color: #ffffff;
  text-align:center;
  display: inline-block;
  width: 100%;
}
#hero h1 {
  text-align: center; /* Centers text */
}
.container {
  padding: 0 15px;
  width:100%;
}
* {
  box-sizing: border-box;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }