@charset "UTF-8";
/* CSS Document */
/*
Colors used:
Primary Color (Green): #53c5b4;
Secondary Color (yellow): #fbcb6d;
*/
/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px; 
} 
body {
  background-color: #ffffff;
  font-family: 'rubik';
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}
header {
  background-color:#ffffff;
  padding: 10px 0;
  box-shadow: 0 2px 5px 0 rgba(51,51,51,.1);
  position: fixed;
  width:100%; 
}
h1, h2, h3, h4 {
  font-family:'rubik';
  line-height: 1.4;
  color:#53c5b4;
 
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
#logo {
  max-width: 60px;
}
img{
    width: 100%;
}
.berlin-illustration{
 width:100%;
}
.responsive {
  width:100%;
  height:auto;
}
a {
  color: #53C5B4;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #fbcb6d;
  
}
a:visited { /* visited link */
  color: #fbcb6d;
}
a:active { /* selected link */
  color: #53C5B4;
}
.button {
  display: inline-block;
  background-color: #Fbcb6d;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #D1A44E;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #fbcb6d !important;
  text-transform: uppercase;
  border: 2px solid #D1A44E;
  margin: 15px 0;
}

.button.contact:hover {
  background-color: #Fbcb6d;
  color: #fff !important;
  text-decoration: none;
}

picture{
    height: 100px;
    width: 300px,
}

* {
  box-sizing: border-box;
}

/* Layout styling */

.container {
  padding: 0 15px;
  width: 100%;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
    
}
#work .row { padding-bottom: 25px; 
             border-bottom: 1px solid #4a4a4a; }
#hero {
  background-color: #ffffff;
  text-align:center;
  display: inline-block;
  width: 100%;
  padding: 20px 0; 
}
#about h3 {
    margin-top: 0;
    text-align: center;
  }

#about .center {
    margin-left: 0;
  }
#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#work h2 {
  text-align: center;
}
#hero span {
  display: block;
}
#hero h1 {
  text-align: center; /* Centers text */
}

footer {
  padding-top: 50px;
  text-align: center;
}

.social-icon{
  width:50px;
  height:50px;
  margin: 0 auto;
  display: inline-block;
  margin-top: 50px;
 }

/* Nav bar styling */

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #53C5B4;
  
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color:  #fbcb6d;
}

nav > ul > li > a:active { /* selected link */
  color: #53C5B4;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

 .navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #fff;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}
/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
    
  main{
    padding-top: 100px;
    }
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
   nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

    
  .col-md-6 {
    width: 50%;
   
  }


  [class*="col-"] {
    float: left;
    padding: 20px;
    
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
}
  #about h3 {
    margin-top: 0;
  }

  #about .center {
    margin-left: 0;
  }
    
  #about .about-me-photo{
    width: 700px;
  }
  #resume .my-resume{
    max-width: 700px;   
    }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.col-lg-7 {
  width: 60%;
  }

.col-lg-5 {
  width: 40%;
  }  
    
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    }
/* ==============================
Animations
================================= */

 @keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}